{% extends 'MainApp/base.html' %}

{% block content %}
    <h1>Political Science Experts</h1>

    <div class="center-content">
        {% if profiles %}
            {% for profile in profiles %}
                {% if profile.academic_field|lower == "political science" %}
                    <div class="expert-list-item">
                        <p>Username: {{ profile.user.username }}</p>
                        <p>Link: <a href="{% url 'profile_page' profile.id %}">@{{ profile.user.username|lower }}</a></p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
